$primary-background-color: #a1cae2;
$primary-text-color: white;

$secondary-background-color: #e4d1b9;
$secondary-text-color: black;

$control-background-color: #d1a47f;

$border-radius: 5px;

$max-width-media: 700px;
