@use './variables' as vars;

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: vars.$primary-text-color;
  background-color: vars.$primary-background-color;
  font-size: 1.3em;
}

button {
  transition-duration: 0.5s;
  color: vars.$secondary-text-color;
  background-color: vars.$control-background-color;

  &:hover,
  &.active {
    color: vars.$primary-text-color;
    background-color: #00000020;
  }

  &:hover {
    cursor: pointer;
  }
  &:disabled,
  &[disabled] {
    background-color: #cccccc;
    color: #666666;
  }
}

input,
button {
  padding: 1em;
  border-radius: vars.$border-radius;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

label {
  margin-bottom: 0.3em;
}

.tooltip-container {
  text-align: center;
  z-index: 100;
  position: fixed;
  padding: 6px 12px;
  font-size: 0.66rem;
  font-weight: 600;
  line-height: initial;
  color: white;
  width: auto;
  background: #111111ee;
  box-sizing: border-box;
  opacity: 0;
  transform: translate(-50%, -30%);
  animation: tooltip-slide 0.18s ease-out 0.5s;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
