@use '../../../styles/variables' as vars;

.search-form {
  .search-form-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;

    .form-field {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 200px;

      @media screen and (max-width: vars.$max-width-media) {
        min-width: 100%;
      }
    }
  }
}
