<div class="bkr-book-card">
  <div class="book-card-content">
    <div class="book-card-title">{{ book?.title }}</div>
    <div class="book-card-author">{{ book?.author }}</div>
    <div class="book-card-description">{{ book?.description }}</div>
  </div>
  <div class="book-card-footer">
    <div class="book-card-top-ranks">
      <div class="book-card-rank" *ngFor="let entry of ranks">
        <div bkrTooltip tooltip="{{ entry.listName }}<br/>{{ entry.publishedDate }}">#{{ entry.rank }} 🏆</div>
      </div>
    </div>
    <div class="book-card-buttons">
      <button class="book-card-reviews-button" (click)="loadReviews()">
        Load reviews<span *ngIf="reviews"> ({{ reviews.length }})</span>
      </button>
      <button class="book-card-favourite-button">⭐</button>
    </div>
  </div>

  <bkr-dialog [(visible)]="isReviewDialogVisible" class="review-dialog">
    <div class="dialog-headline">{{ book?.title }}</div>
    <bkr-reviews-card [reviews]="reviews"></bkr-reviews-card>
  </bkr-dialog>
</div>
