@use '../../../styles/variables' as vars;

.bkr-dialog {
  .dialog-overlay {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
  }

  .dialog-panel {
    background-color: vars.$secondary-background-color;
    color: vars.$secondary-text-color;
    margin: auto;
    padding: 20px;
    border: 2px solid vars.$secondary-text-color;
    width: auto;
    max-width: 80%;
  }
}
