@use '../../../styles/variables' as vars;

.book-card {
  margin: 0.7em;
  padding: 0.1em 0.7em;
  border-radius: vars.$border-radius;
  color: vars.$secondary-text-color;
  background-color: vars.$secondary-background-color;
  border-bottom-style: groove;

  .book-card-content {
    text-align: center;
    margin: 0.7em 0;
    font-size: 0.8em;

    .book-card-title {
      font-size: 1.4em;
      margin-bottom: 0.5em;
    }

    .book-card-author {
      margin-bottom: 0.5em;
    }

    .book-card-description {
      font-style: italic;
    }
  }

  .book-card-footer {
    display: flex;
    justify-content: center;
    margin: 0.7em 0;
  }

  .book-card-reviews-button {
    width: 75%;
    max-width: 15em;
  }
}
