<div *ngIf="!(favouriteService.updates() | async)?.length; else booksContainer" class="empty-favourites-list">
  <p>
    It seems you have no books in the list.<br />
    Search for some books in the Research tab and press the <button>⭐</button> button!
  </p>
</div>
<ng-template #booksContainer>
  <span>Your favourite books!</span>

  <div class="books-container">
    <bkr-book-card
      *ngFor="let book of favouriteService.updates() | async"
      [book]="book"
      class="books-container-item"
    ></bkr-book-card>
  </div>
</ng-template>
